<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>socials</title>
</head>
<body>
    <div class="social-icons-btn flex space-x-2">
        <a class="flex justify-center items-center w-10 h-10 text-xl font-medium no-underline bg-black rounded-full shadow text-white cursor-pointer transition-all duration-150 ease-linear hover:bg-[#4267B2]" href="https://www.facebook.com/rajan.mhatre.393" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="flex justify-center items-center w-10 h-10 text-xl font-medium no-underline bg-black rounded-full shadow text-white cursor-pointer transition-all duration-150 ease-linear hover:bg-gradient-to-r from-[#8a3ab9] via-[#e95950] via-[#bc2a8d] to-[#fccc63]" target="_blank" href="https://www.instagram.com/mhatre1947">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="flex justify-center items-center w-10 h-10 text-xl font-medium no-underline bg-black rounded-full shadow text-white cursor-pointer transition-all duration-150 ease-linear hover:bg-red-700" href="https://www.youtube.com/@rajanmhatre9085" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
</body>
</html>