<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comming soon...</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body class="bg-blue-900 ">
    <%- include('./partials/navbar.ejs'); %>
    <div class="wrapper text-center text-white flex flex-col items-center justify-center h-[70vh]">
      <h1 class="text-4xl md:text-6xl font-bold mb-2">coming soon..<span class="dot">.</span></h1>
      <p class="text-lg md:text-xl mb-4"></p>
      
    <%- include('./partials/socials.ejs'); %>
    </div>

    
    <%- include('./partials/footer.ejs'); %>
  </body>
  
</html>